input,
button {
  font-family: 'Poppins', sans-serif;
}

main {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.searchbar form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
}

.searchbar form .inner-form .input-field {
  height: 68px;
}

.searchbar form .inner-form .input-field input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
}

.searchbar form .inner-form .input-field input.placeholder {
  color: #222;
  font-size: 16px;
}

.searchbar form .inner-form .input-field input:-moz-placeholder {
  color: #222;
  font-size: 16px;
}

.searchbar form .inner-form .input-field input::-webkit-input-placeholder {
  color: #222;
  font-size: 16px;
}

.searchbar form .inner-form .input-field input:hover, .searchbar form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.searchbar form .inner-form .input-field.first-wrap {
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  background: #d9f1e3;
}

.searchbar form .inner-form .input-field.first-wrap input {
  -ms-flex-positive: 1;
      flex-grow: 1;
}

.searchbar form .inner-form .input-field.first-wrap .svg-wrapper {
  min-width: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.searchbar form .inner-form .input-field.first-wrap svg {
  width: 36px;
  height: 36px;
  fill: #222;
}

.searchbar form .inner-form .input-field.second-wrap {
  min-width: 216px;
}

.searchbar form .inner-form .input-field.second-wrap .btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #fff;
  border: 0;
  cursor: pointer;
  position: relative;
  z-index: 0;
  background: #00ad5f;
  transition: all .2s ease-out, color .2s ease-out;
  font-weight: 300;
}

.searchbar form .inner-form .input-field.second-wrap .btn-search:hover {
  background: #009451;
}

.searchbar form .inner-form .input-field.second-wrap .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.searchbar form .info {
  font-size: 15px;
  color: #ccc;
  padding-left: 26px;
}

@media screen and (max-width: 992px) {
  .searchbar form .inner-form .input-field {
    height: 50px;
  }
}

@media screen and (max-width: 767px) {
  .searchbar form .inner-form .input-field.first-wrap .svg-wrapper {
    min-width: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
    padding: 0 10px;
  }
  .searchbar form .inner-form .input-field.first-wrap svg {
    width: 26px;
    height: 26px;
    fill: #222;
  }
  .searchbar form .inner-form .input-field.second-wrap {
    min-width: 100px;
  }
  .searchbar form .inner-form .input-field.second-wrap .btn-search {
    font-size: 13px;
  }
}

.mycontent-left {
  border-left: 1px solid #cfcfcf;
}

.icon-green {
  color: green;
}

.scrollbar {
  height: 1000px; 
  overflow-y: scroll;
}

.scrollbar-side {
  height: 500px; 
  overflow-y: scroll;
}